.home{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.home h1{
    margin-bottom: 50px;
}
.home-product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.home-card-button_margin{
    margin-right: 7px;
    color: white !important;
}
.home-card_margin{
    margin-top: 10px;
}
.home-card-button_width{
    width: max-content;
    margin-left: 5px;
    margin-top: 20px;
    color: white !important;
    background-color: rgb(2, 196, 2);
    border: none;
}
.home-card-button_width:hover{
    background-color: green;
}
.card-img-top-height{
    height: 215px;
}
#spinner-delete{
    display: none;
    vertical-align: middle !important;
}